* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  background-color: #010718;
  color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0;
}

h2 {
  margin-top: 10px;
  margin-bottom: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: burlywood;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  color: rgb(210, 210, 228);
}

#score {
  color: crimson;
}

.grid {
  position: relative;
  width: 560px;
  height: 300px;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #031547;
  box-shadow: 3px 3px 3px 3px rgb(7, 12, 106);
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(29, 102, 212);
  left: 50px;
  bottom: 50px;
  border-radius: 5px;
}
.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(38, 232, 80);
  left: 50px;
  bottom: 50px;
  border-radius: 10px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
}
