* {
  box-sizing: border-box;
}

.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid 1px black;
  margin-top: 40px;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(210, 96, 179);
  left: 50px;
  bottom: 50px;
}
.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(232, 38, 38);
  left: 50px;
  bottom: 50px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(31, 29, 29);
}
